.profile-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
}

.profile-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
